name: Deploy

on:
  push:
    branches: [ main ]

env:
  KAMAL_REGISTRY_PASSWORD: ${{ secrets.KAMAL_REGISTRY_PASSWORD }}
  RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}

jobs:
  # Run tests before deployment (unless skipped)

  deploy:
    runs-on: ubuntu-latest
    environment: production
    
    outputs:
      deployment-id: ${{ steps.deployment.outputs.deployment-id }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.4"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Kamal
        run: gem install kamal

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.KAMAL_SSH_PRIVATE_KEY }}
            ${{ secrets.BUILDER_SSH_PRIVATE_KEY }}

      - name: Deploy with Kamal
        run: kamal deploy